<!-- templates/login.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="sign-up py-5">
    <div class="title">
        <p>Faça seu Login</p>
    </div>

    <div class="register-column container d-flex justify-content-between ">
        <div class="row">
            <div class="col">
                <img src="{% static 'assets/images/image-007.png' %}" alt="Carro sendo reparado por um mecânico"
                class="img-fluid rounded" style="width: 100%; height: auto; max-width: 100%;">
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="email">Entre com seu e-mail</label>
                              <input type="email" class="form-control form-control-sm" name="username">
                              <div id="emailError" class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                              <label for="password">Entre com sua senha</label>
                              <input type="password" class="form-control form-control-sm" name="password">
                              <div id="passwordError" class="invalid-feedback"></div>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">Entrar</button>
                            <div class="mt-3 d-flex justify-content-between">
                              <a href="{% url 'signup' %}">Registrar-se?</a>
                              <a href="{% url 'recovery' %}">Recuperar Senha</a>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="module" src="{% static 'assets/js/scripts.js' %}"></script>
{% endblock %}

